@import "tailwindcss";

/* ================= */
/* Light & Dark Theme */
/* ================= */
:root {
  --bg: 255 255 255;
  --primary-text: 29 29 29;
  --secondary-text: 142 142 142;
  --link-text: 45 199 255;
  --border: 229 229 229;
  --secondary-border: 255 255 255;
  --primary-foreground: 255 255 255;
}

.dark {
  --bg: 11 10 29;
  --primary-text: 255 255 255;
  --secondary-text: 168 174 186;
  --border: 31 31 42;
  --secondary-border: 11 10 29;
  --primary: 139 92 246;
  --primary-foreground: 255 255 255;
}

/* ================= */
/* Theme Extensions */
/* ================= */
@theme {
  /* Heading sizes */
  --h1-size: 3.5rem;
  --h2-size: 3rem;
  --h3-size: 2.5rem;
  --h4-size: 2rem;
  --h5-size: 1.5rem;
  --h6-size: 1.125rem;

  /* Line Heights */
  --lh-large: 28px;
  --lh-normal: 24px;
  --lh-small: 22px;
}

/* ================= */
/* Custom Utilities  */
/* ================= */
@layer utilities {
  /* Headings */
  .heading-1 { @apply font-bold text-[length:var(--h1-size)]; }
  .heading-2 { @apply font-bold text-[length:var(--h2-size)]; }
  .heading-3 { @apply font-bold text-[length:var(--h3-size)]; }
  .heading-4 { @apply font-bold text-[length:var(--h4-size)]; }
  .heading-5 { @apply font-bold text-[length:var(--h5-size)]; }
  .heading-6 { @apply font-bold text-[length:var(--h6-size)]; }

  /* Side Nav hover */
  /* Hover effect */
.sideNav_a:hover,
.sideNav_a.active {  /* apply to active state */
  @apply relative overflow-hidden;
  background: linear-gradient(
    90deg,
    rgba(138, 33, 255, 0.16) 0%,
    rgba(138, 33, 255, 0.00) 100%
  );
  box-shadow:
    inset 0 2px 10px rgba(197, 144, 255, 0.16),
    0 1px 4px rgba(197, 144, 255, 0.12);

    color: rgb(var(--primary-text));
}

.sideNav_a:hover:before,
.sideNav_a.active:before { /* active pseudo-element */
  content: "";
  position: absolute;
  inset: 0;
  padding: 0.6px;
  border-radius: inherit;
  background: linear-gradient(
    90deg,
    rgba(197, 144, 255, 0.60) 0%,
    rgba(197, 144, 255, 0.16) 100%
  );
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
          mask-composite: exclude;
  pointer-events: none;
}


  /* Total Button styling */
  .total_btn {
    @apply relative overflow-hidden cursor-pointer;
    background: linear-gradient(
      to right,
      rgba(138, 33, 255, 0.08) 0%,
      rgba(138, 33, 255, 0.04) 100%
    );
    box-shadow:
      inset 0 2px 90px rgba(197, 144, 255, 0.16),
      0 1px 4px rgba(197, 144, 255, 0.12);
  }
  .total_btn::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: linear-gradient(94deg, rgba(197,144,255,0.8), rgba(197,144,255,0.24));
  pointer-events: none;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

/* Mobile overrides */
@media (max-width: 375px) {
  .total_btn::before {
    padding: 0.6px; /* smaller, but maybe still too large */
  }
}
}
html {
  font-family: "Manrope", sans-serif;
}
